.badge {
	background-color: #1dc7ea;
}
@media (min-width: 992x) {
	.col-md-10.posts {
		float: none !important;
	}
}
.col-xs-12 {
	padding-left: unset;
	padding-right: unset;
}

.btn-info {
	border: none;
}
.badge.tasks {
	background-color: #ff9500;
}

.col-sm-10 {
	float: left;
}

@media (max-width: 1080px) {
	.col-sm-10 {
		margin: 0 auto !important;
	}
}

@media (max-width: 768px) {
	.col-sm-12 {
		float: none;
	}
}

@media (max-width: 768px) {
	.col-md-8 {
		float: left;
	}
}

